/* Testing */
/*
Mic check. 1, 2, 3.
*/

html{
    background-image: url("background.png");
    background-image: url('background.png');
    font-family: "Hello", 'World', Helvetica, sans-serif;
}

p::after{
    display: none;
}

p:after{
    border: 1px solid #ccc;
}

a:active{
    line-height: 1.5em;
    margin: 1px;
    padding: 15.8%;
}

#id{
    color: aliceblue;
}

.class{
    position: relative;
    left: 3em;
    border-bottom: solid green 3rem;
}

.class, .class2.class3,
#id .class4, #id2 > #id3{
    position: static;
    right: -5.5em;
}