
/* Test single line comment. */
/*
    Test multiline
    / * * /
    comment.
*/

@charset 'utf8';

@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
}

@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"),
  local("HelveticaNeue-Bold"),
  url(MgOpenModernaBold.ttf);
  font-weight: bold;
}

@page :first :blank {

    color: blue;
    color: green;

    @top-left {
        content: "foo";
        color: blue;
    }

    @top-right {
        content: "bar";
    }
}

@page { color: red;
  @top-center {
    content: "Page " counter(page);
  }
}



@import url("fineprint.css") print;
@import url("bluish.css") projection, tv;
@import 'custom.css';
@import url("chrome://communicator/skin/");
@import "common.css" screen, projection;
@import url('landscape.css') screen and (orientation:landscape);

@media screen and (max-width: 719px){

    p::after {
        display: none;
    }

    p::before {
        border-radius: 100px;
    }

    @media screen and (min-width: 720px){
        @media projection {
            @media screen and (orientation: landscape) {
                html{
                    background-image: url("background.png");
                    background-image: url('background.png');
                    background-image: url(http://example.com/hello.png);
                    font-family: "Hello", 'World', Helvetica, Arial, sans-serif;
                }
            }
        }
    }

    em, s, p::after{
        line-height: 1em;
        transition-duration: 120ms;
        transition-duration: 2s;
    }

    .class, .class2.class3,
    #id .class4, #id2 > #id3{
        position: static;
        right: -5.5em;
        font-weight: 300;

        font: italic xx-small/1em Helvetica, serif;
        font: italic small-caps smaller/1em Helvetica, serif;
        font: italic normal 400 12px/1em Helvetica, serif;
        font: 12px/1em Helvetica, serif;
    }
}

/* Unicodes */
ñ π ø ˆ ˚ ∆ ˜ ¡ ˜ ¬ … ˚ ˜ ß ∂
ñhello˚˜˚∆åß∂ ˜¬å˚ß∂


#hello .hi .ñiplle #ññhello {
    border-radius: black;
    white-space: white;
}

progress, small, sub pre {
    border-radius: small, sub, progress;
    white-space: white;
}

sub {
    sub: sub;
}

p:after
{
    border: 1px solid #ccc;
}

a:active{
    line-height: 1.5em;
    margin: 101px;
    margin: 322.01px;
    padding: 15.8%;
}

tr:nth-child(2n+1){
    clear: both;
}

#id{
    color: aliceblue;
}

.class{
    position: relative;
    left: 3em;
    border-bottom: solid green 3rem;
}
